# Manifest for package distribution
include README.md
include LICENSE
include pyproject.toml
recursive-include src/sonic *.py
recursive-exclude tests *
recursive-exclude data *
recursive-exclude figures *
exclude *.ipynb
